node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.cursor
AI-Media2Doc
BilibiliVideoDownload
docs
temp
test
__test__
tmp
.local-chromium

# Electron 构建产物
release
*.dmg
*.zip
*.exe
*.AppImage
*.deb